<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, world!</title>
</head>

<style>
    @import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

    body {
        font-family: 'Lato', sans-serif;
        font-size: large;
    }
</style>

<body>
    <center>
        <h2>Hello, world!</h2>
        <p>
            This site was created to integrate with Azure Pipelines for continuous integration and deployment.
            <br>
            Check out the repository <a href="https://github.com/Den4200/hello-world-django">here</a>.
        </p>
    </center>
</body>
</html>
