[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "~=3.8.3"
pre-commit = "~=2.6.0"

[packages]
django = "~=3.1.12"
django-environ = "*"

[requires]
python_version = "3.8"

[scripts]
lint = "python -m flake8"
manage = "python manage.py"
precommit = "pre-commit install"
start = "python manage.py runserver"
