[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pre-commit = "*"

[packages]
django = "*"

[requires]
python_version = "3.8"

[scripts]
lint = "python -m flake8"
manage = "python manage.py"
precommit = "pre-commit install"
start = "python manage.py runserver"
